In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
# 载入电影数据
data_item = pd.read_json('data/case_data/movie_item.json', lines=True)
print('电影数目：' ,data_item.shape[0])

电影数目： 246

In [4]:
data_item['movie_id'] = data_item['movie_id'].apply(lambda x: int(x[0][3:]))  
# [电影-1300267] -> int(1300267)
data_item['comment_num'] = data_item['comment_num'].apply(lambda x: int(x[2:-1]))  
# 全部 62309 条 -> int(62309)
data_item['question_num'] = data_item['question_num'].apply(lambda x: int(x[2:-1]))  
# 全部23个 -> int(23)
data_item['rating_num'] = data_item['rating_num'].apply(lambda x: float(x[0]))   
# [9.2] -> float(9.2)
data_item['rating_per_stars1'] = data_item['rating_per_stars1'].apply(lambda x: float(x[:-1]))   
# 0.1% -> float(0.1)
data_item['rating_per_stars2'] = data_item['rating_per_stars2'].apply(lambda x: float(x[:-1]))  
data_item['rating_per_stars3'] = data_item['rating_per_stars3'].apply(lambda x: float(x[:-1]))  
data_item['rating_per_stars4'] = data_item['rating_per_stars4'].apply(lambda x: float(x[:-1]))  
data_item['rating_per_stars5'] = data_item['rating_per_stars5'].apply(lambda x: float(x[:-1]))
data_item['release_date'] = data_item['release_date'].apply(lambda x: int(x[0][1:-1]))  
# [(1939)] -> int(1939)
data_item['vote_num'] = data_item['vote_num'].apply(lambda x: int(x[0]))   
# [272357] -> int(272357)
data_item['movie_title'] = data_item['movie_title'].apply(lambda x: (x[0]))

# [238分钟] -> 238
data_item.loc[15,'runtime'] = ['80分钟']
# 处理电影时长
pattern = '\d+'
import re
data_item['runtime'] = data_item['runtime'].apply(lambda x: (x[0]))
data_item['runtime'] = data_item['runtime'].str.findall(pattern,flags=re.IGNORECASE).apply(lambda x: int(x[0]))

#处理电影简介
def Intro(introduces):
    Intro_ = ''
    for intro in introduces:
        intro = intro.strip()
        Intro_ += intro
    return Intro_

In [5]:
data_item['intro'] = data_item.intro.apply(Intro)

In [6]:
data_item['intro']

0      美国南北战争前夕，南方农场塔拉庄园的千金斯嘉丽（费雯·丽 Vivien Leigh 饰）爱上...
1      1991年，香港黑帮三合会会员刘健明（刘德华）听从老大韩琛（曾志伟）的吩咐，加入警察部队成为...
2      克里斯•加纳（威尔·史密斯 Will Smith 饰）用尽全部积蓄买下了高科技治疗仪，到处向...
3      这是一个破碎的家庭，酗酒的教练父亲帕迪（尼克·诺特 Nick Nolte 饰）家暴妻子，次子...
4      初中生小水相貌平平，家境一般，所以在学校里并不受重视。但是她心地善良，又有一群死党，日子过得...
                             ...
241    宦官专权的明朝中叶，东厂曹少钦（甄子丹）假造圣旨杀害了忠良杨宇轩，并想斩草除根杀死其后代。侠...
242    他是一个流浪汉（查理·卓别林 Charles Chaplin 饰），身无分文，遇上了双目失明...
243    20世纪40年代末，小有成就的青年银行家安迪（蒂姆·罗宾斯 Tim Robbins 饰）因涉...
244    孙悟空（周星驰）护送唐三藏（罗家英）去西天取经路上，与牛魔王合谋欲杀害唐三藏，并偷走了月光宝...
245    阿利斯（马尔科姆•麦克道尔）是一位无恶不作的少年，他的特殊喜好是边听贝多芬的交响曲边奸淫女性...
Name: intro, Length: 246, dtype: object

In [7]:
data_item.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 0 to 245
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   country            246 non-null    object
 1   intro              246 non-null    object
 2   vote_num           246 non-null    int64
 3   movie_title        246 non-null    object
 4   starring           246 non-null    object
 5   comment_num        246 non-null    int64
 6   rating_per_stars4  246 non-null    float64
 7   language           246 non-null    object
 8   directedBy         246 non-null    object
 9   movie_id           246 non-null    int64
 10  runtime            246 non-null    int64
 11  rating_per_stars3  246 non-null    float64
 12  release_date       246 non-null    int64
 13  rating_per_stars2  246 non-null    float64
 14  rating_per_stars5  246 non-null    float64
 15  rating_num         246 non-null    float64
 16  genre              246 non-null    object
 17  rating_per_stars1  246 non-null    float64
 18  question_num       246 non-null    int64
dtypes: float64(6), int64(6), object(7)
memory usage: 36.6+ KB

In [8]:
data_item.sort_values('rating_num', ascending=False)[['movie_title','rating_num']].head(10)

                          movie_title  rating_num
243   肖申克的救赎 The Shawshank Redemption         9.6
236  控方证人 Witness for the Prosecution         9.6
102              美丽人生 La vita è bella         9.5
98                               霸王别姬         9.5
107                 十二怒汉 12 Angry Men         9.4
103                 阿甘正传 Forrest Gump         9.4
101                      这个杀手不太冷 Léon         9.4
100           辛德勒的名单 Schindler's List         9.4
108                     机器人总动员 WALL·E         9.3
120                      海豚湾 The Cove         9.3

In [9]:
class_movie = ['剧情','爱情','喜剧','科幻','动作','悬疑','犯罪','恐怖','青春'
               ,'励志','战争','文艺','黑色幽默','传记','情色','暴力','音乐','家庭']
country_movie = ['大陆','美国','香港','台湾','日本','韩国','英国','法国','德国'
                 ,'意大利','西班牙','印度','泰国','俄罗斯','伊朗','加拿大','澳大利亚'
                 ,'爱尔兰','瑞典','巴西','丹麦']

def column_expand(data, column, list_values):
    for cl in list_values:
        tt = data_item[column].apply(lambda x: str(x)).str.contains('\W'+cl+'\W')
        uu = data_item[column].apply(lambda x: str(x)).str.contains('^'+cl+'$')
        ee = data_item[column].apply(lambda x: str(x)).str.contains(cl+'\s')
        ff = data_item[column].apply(lambda x: str(x)).str.contains('\s'+cl)
        cl_ = tt | uu| ee | ff
        cl_ *= 1
        data['%s_%s' %(column ,cl)] = cl_

def get_values_list(data, column, sep=None):
    Language_values=[]
    def countLANG(Languages):
        for language in Languages:
            language = language.strip()
            if language in Language_values: 
                continue
            else:
                Language_values.append(language)
    if sep:
        pd.DataFrame(data[column].str.split(sep))[column].apply(countLANG);
    else:
        data[column].apply(countLANG);
    return Language_values

def Paiming(data, column, list_values):
    column_expand(data, column, list_values)
    df = pd.DataFrame( 
        {'数目':[data['%s_%s' %(column, p)].sum() for p in list_values]}
        , index=list_values).sort_values('数目', ascending=False)
    return df
# 列表匹配
#column_expand(data_item, 'genre', class_movie)
#column_expand(data_item,  'country', country_movie)
#column_expand(data_item,  'language', get_values_list(data_item, 'language', sep='/'))
#column_expand(data_item,  'starring', get_values_list(data_item, 'starring'))