In [87]:
import pandas as pd

In [88]:
import numpy as np

In [89]:
df1 = pd.read_csv("data/dbTop.csv",encoding='utf-8')

In [90]:
df1

     Unnamed: 0  comment_num  movie_index  movie_name  movie_score
0             0      2075220            1      肖申克的救赎          9.7
1             1      1538456            2        霸王别姬          9.6
2             2      1568300            3        阿甘正传          9.5
3             3      1759176            4     这个杀手不太冷          9.4
4             4       983201            5        美丽人生          9.5
..          ...          ...          ...         ...          ...
245         245       213026          246        黑鹰坠落          8.7
246         246       120761          247        四个春天          8.9
247         247       387807          248        网络谜踪          8.6
248         248       283699          249         发条橙          8.6
249         249       261449          250  黑客帝国2：重装上阵          8.6

[250 rows x 5 columns]

In [91]:
C= df1['movie_score'].mean()

In [92]:
m = 1250

In [93]:
q_movies = df1.copy().loc[df1['comment_num'] >= m]

In [94]:
def weighted_rating(x, m=m, C=C):
    v = x['comment_num']
    R = x['movie_score']
    # Calculation based on the IMDB formula
    return (v/(v+m) * R) + (m/(m+v) * C)

In [95]:
q_movies['score'] = q_movies.apply(weighted_rating, axis=1)

In [96]:
#Sort movies based on score calculated above
q_movies = q_movies.sort_values('score', ascending=False)

#Print the top 15 movies
q_movies[['comment_num','movie_name', 'score']].head(50)

    comment_num movie_name     score
0       2075220     肖申克的救赎  9.699511
1       1538456       霸王别姬  9.599421
25       295355       控方证人  9.596996
2       1568300       阿甘正传  9.499512
4        983201       美丽人生  9.499222
..          ...        ...       ...
86       545100  被嫌弃的松子的一生  8.899971
84       507813       心灵捕手  8.899969
99       462960  请以你的名字呼唤我  8.899966
83       457188       春光乍泄  8.899965
90       449437       勇敢的心  8.899964

[100 rows x 3 columns]

In [85]:
q_movies.to_csv('data/mytop.csv',encoding='utf_8_sig')